.pay-container {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;

  .pay-instructions {
    font-size: 12pt;
    color: #fff;

    h3 {
      font-size: 16pt;
      margin-bottom: 1rem;
    }

    p {
      padding: 0.4rem 0px;
    }
  }
  .mpesa {
    display: flex;
    flex-direction: column;

    .logo-mpesa {
      width: 13rem;
      margin-left: 20%;
    }

    .input-btn {
      display: flex;
      align-items: center;

      input[type="text"] {
        width: 100%;
        padding: 1rem 2rem;
        border-right: #fff;
        box-sizing: border-box;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      button {
        height: 4rem;
        padding: 0.5rem 1rem;
        border-left: #fff;
        background-color: #f70f5d;
        color: #fff;
        font-weight: bold;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}
