.ged-header {
  .outfit {
    position: relative;
    img.drums {
      height: 40vh;
      width: 100vw;
      object-fit: cover;
      object-position: left top;
    }

    img.logo {
      z-index: 1;
      position: absolute;
      top: 9vh;
      left: 10vw;
      width: 13vw;
    }
  }

  .ged-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 17rem;
    background-color: #c21807;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    height: 5rem;

    .brand {
      color: #fff;
      font-family: "Syne Mono", monospace;
    }

    img.profile {
      margin-top: 7px;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      border: solid grey 1px;
    }

    .signout {
      float: right;
      margin-top: 1.7rem;
      color: #cecece;
      font-size: 12pt;
      padding-left: 1rem;
      cursor: pointer;
      clear: both;
    }

    button {
      font-size: 12pt;
      border-radius: 50%;

      .fa-google {
        padding: 0.7rem 1rem;
        color: #c21807;
        border-radius: 50%;
      }

      .fa-facebook-f {
        padding: 0.7rem 1.25rem;
        color: #0768c2;
      }

      i {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ged-header {
    .outfit {
      img.drums {
        height: 20vh;
        width: 100vw;
        object-position: left bottom;
      }

      img.logo {
        top: 9vh;
        left: 10vw;
        width: 36vw;
      }
    }

    .ged-nav {
      padding: 0rem 1.5rem;
      font-size: 2rem;

      button {
        font-size: 12pt;
        border-radius: 50%;

        .fa-google {
          padding: 0.5rem 0.7rem;
          color: #c21807;
          border-radius: 50%;
        }

        .fa-facebook-f {
          padding: 0.5rem 1rem;
          color: #0768c2;
        }

        i {
          font-size: 1.8rem;
        }
      }
    }
  }
}
