<div class="ged-header">
  <div class="outfit">
    <img class="drums" src="../../../assets/img/drums.jpg" alt="ged drams" />
    <img class="logo" src="../../../assets/img/brand.png" alt="ged logo" />
  </div>
  <div class="ged-nav">
    <div class="brand">Músicas</div>
    <div *ngIf="authService.user$ | async as user; else login">
      <img class="profile" [src]="user.photoURL" alt="profile" />
      {{ "" }}
      <div class="signout" (click)="authService.signOut()"> Sair </div>
    </div>

    <ng-template class="controls" #login>
      <div>
        <button class="btn-googgle" (click)="authService.googleSignIn()">
          <i class="fa fa-google"></i>
        </button>
        {{ "" }}
        <button class="btn-facebook" (click)="authService.facebookSignIn()">
          <i class="fa fa-facebook-f"></i>
        </button>
      </div>
    </ng-template>
  </div>
</div>
