.ged-container {
  padding: 3% 11%;

  .metadata-mpesa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .metadata {
      display: flex;
      flex-direction: row;
      width: 40vw;
      // background-color: green;

      .album-art {
        width: 150px;
        height: 170px;
        object-fit: cover;
        border-radius: 1rem;
      }

      .album-details {
        padding-top: 10%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        color: #e4e4e4;

        .artist {
          font-size: 16pt;
        }

        .album-year {
          font-size: 14pt;
          padding: 1.3rem 0px;
        }

        .btn-purchase {
          background-color: #f70f5d;
          padding: 0.5rem 0px;
          color: #e4e4e4;
          font-weight: bold;
          border-radius: 0.6rem;
          border: #f70f5d solid 1px;
        }
      }
    }

    .mpesa {
      width: 40vw;
    }

    margin-bottom: 6rem;
  }

  .playlist {
    background-color: #2e2e2e;
    border-radius: 0.5rem;

    .music-tile {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      margin: 2rem 1rem;
      color: #e4e4e4;
      font-size: 11pt;
      font-weight: bold;
    }

    i {
      color: #f70f5d;
    }
  }
}

@media only screen and (max-width: 600px) {
  .ged-container {
    padding: 10% 6%;

    .metadata-mpesa {
      flex-direction: column;

      .metadata {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .album-art {
          width: 180px;
          border-radius: 1rem;
        }

        .album-details {
          padding-top: 2%;
          padding-left: 0;
          align-items: center;

          .album-year {
            padding: 0.2rem 0px;
          }

          .btn-purchase {
            margin-top: 3rem;
            padding: 1rem 1.5rem;
          }
        }
      }

      .mpesa {
        width: 100%;
      }

      margin-bottom: 6rem;
    }

    .playlist {
      .music-tile {
        align-items: center;
        padding: 1rem 0.4rem;
        margin: 2rem 0.4rem;
        color: #e4e4e4;
        font-size: 11pt;
        font-weight: bold;
      }
    }
  }
}
